body {
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}
.naslov {
    text-align:center;
    margin-top: 20px;
}
.objects {
    width: 750px;
    margin:auto;
    padding:15px;
}